node_modules/
.next/
out/
.DS_Store
*.log
env
*.tsbuildinfo
pms_build/*
pms_build
PMS_C6_Build_Package.zip
PMS_C6_Procurement_Flow_Package.zip
PMS_C6_RBAC_Diagnostic_Package.zip
PMS_C6_RBAC_Package.zip
PMS_C6_RBAC_Stage3_Package.zip
PMS_C6_README.md
PMS_C6_ROLE_SETUP.csv
PMS_C6_ROLE_SETUP.csv
PMS_IMPLEMENTATION_COVERAGE.md
PMS_RBAC_SETUP.md
PMS_REQUIREMENTS_REVIEW.md
PROCUREMENT_FLOW_IMPLEMENTATION.md
Purchase_Management_System_C6_Advanced.ds
Purchase_Management_System_C6_RBAC_Stage1_Roles.ds
Purchase_Management_System_C6_RBAC_Stage2_Permissions.ds
Purchase_Management_System_C6_RBAC_Stage3_Approval_Flows.ds
Purchase_Management_System_C6_RBAC.ds
Purchase_Management_System_C6.ds